table, td, th{
  border-collapse: collapse;
  border:
}

th {
  /* Changing properites of <th> only */

}

tr:nth-child(even){background-color: blue}
/* Adds stripes. */


td{
  /* Using one selector to change the
  padding of >>non-heading cells only<<
  here */
}
